.places h1 {
    font-size: 30px;
    margin-top: 45px;
    margin-left: 15px;
    padding: 0;
    text-align: left;
    vertical-align: top;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.article {
    margin: 20px;
    padding: 20px;
    width: 390px;
    height: auto;
    border: 1px solid #FF5A5F ;
    border-radius: 4px;
    box-sizing: content-box;  
}

.title-places h2 {
    font-size: 30px;
    margin-top: 15px;
    margin-left: 110px;
    text-align: center;
}

.price_by_night p {
    text-align: center;
    margin-top: 25px;
    font-size: 30px;
}

.price_by_night {
    width : 80px;
    min-width: 60px;
    height: 60px;
    min-height: 80px;
    margin-bottom: 10px;
    margin-right: -20px;
    margin-top: -5px;
    font-size: 30px;
    color: #FF5A5F;
    border: 4px solid #FF5A5F;
    border-radius: 50%;
    box-sizing: content-box;
    
}

.title-places {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.information {
    height: 80px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
}

.icon-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    margin-left: 50px;
    margin-top: 10px;
}

.max_guest {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 200px;
    background-image: url(../images/icon_group.png);
    background-repeat: no-repeat;
    justify-items: center;
}

.icon-info p {
    margin-top: 50px;
    margin-left: -50px;
    text-align: center;
}

.number_rooms {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 200px;
    background-image: url(../images/icon_bed.png);
    background-repeat: no-repeat;
    justify-items: center;  
}

.number_bathrooms {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 200px;
    background-image: url(../images/icon_bath.png);
    background-repeat: no-repeat;
    justify-items: center; 
}

.description {
    margin: 0;
    padding: 0;
    margin-top: -5px;
}

.amenities {
    margin-top: 40px;
}

.amenities h2 {
    font-size: 16px;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #DDDDDD;
}

.icon-amenities {
    width: 100px;
    margin-left: -2px;
    margin-top: 15px;
}

.icon-amenities  li {
    margin-top: 1.5px;
    margin-left: -61px;
    text-align: center;
    text-justify: auto;
}

.icon-amenities-tv  li {
    margin-top: 1.5px;
    margin-left: -70px;
    text-align: center;
}

.icon-amenities-tv {
    display: flex;
    flex-direction: column;
    background-image: url(../images/icon_tv.png);
    background-repeat: no-repeat;
    background-size: 17px 17px;
}

.icon-amenities-wifi {
    display: flex;
    flex-direction: column;
    background-image: url(../images/icon_wifi.png);
    background-repeat: no-repeat;
    background-size: 17px 17px;
}

.icon-amenities-pets {
    display: flex;
    flex-direction: column;
    background-image: url(../images/icon_pets.png);
    background-repeat: no-repeat;
    background-size: 17px 17px;
}

.reviews {
    margin-top: 40px;
}

.reviews h2 {
    font-size: 16px;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #DDDDDD;
}

.title-review h3{
    margin-top: 20px;
    margin-bottom: -7px;
    margin-left: 0px;
    font-size: 14px;
}

.description-review p {
    font-size: 12px;
}
